.container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 5px;
    min-height: 50px;
    background: #f6f6f6;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.deleteBtn {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 13px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -15px 0 25px #f6f6f6;
    background: #f6f6f6;
    stroke: #0D0D0D;
}

.deleteBtn:before {
    content: '';
    height: 100%;
    width: 15px;
    background: linear-gradient(269.93deg, #F6F6F6 0.06%, rgba(246, 246, 246, 0) 99.93%);
}

.icon {
    width: 24px;
    height: 24px;
}

.items::-webkit-scrollbar {
    width: 0px;
    height: 0;
}
