* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: SF Pro Text, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E5E5;
  height: 100%;
  color: #0D0D0D;
}

button {
  background: none;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#root{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bg-red {
  background: #CF2C00;
}

.bg-red-hover:hover {
  color: #FFFFFF;
  background: #CF2C00;
}

.bg-green {
  background: #30B800;
}

.bg-blue-hover:hover {
  color: #FFFFFF;
  background: #0055FB;

}
.jsoneditor-menu {
 display: none;
}

.jsoneditor-outer {
  width: 700px;

  background: #FFFFFF;
  /* Borders (elements) */

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.jsoneditor div.jsoneditor-outer.has-main-menu-bar {
  margin: 0;
  padding: 10px;
}

.jsoneditor-outer {

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}

div.jsoneditor {
  border: none;
  height: 100%;
}

.has-main-menu-bar {
  margin: 0;
}

.white {
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
